<main class="blog-post">
  <div class="blog-post__header">
    <p class="name">Eric Obeng's Blog</p>
    <img
      src="https://cdn.hashnode.com/res/hashnode/image/stock/unsplash/c8h0n7fSTqs/upload/c532a7c130b874aee574992d64d5ff61.jpeg?w=1600&h=840&fit=crop&crop=entropy&auto=compress,format&format=webp"
      alt="header image"
    />
  </div>
  <div class="blog-post__content">
    <div class="title-div">
      <h1 class="title">
        Creating React Application Using Vite.js instead of create-react-app
        (cra)
      </h1>
      <div class="profile-div">
        <img
          class="profile"
          src="https://cdn.hashnode.com/res/hashnode/image/upload/v1682794278137/81b25435-4ec8-42bc-a268-bfe633c5979d.jpeg?w=500&h=500&fit=crop&crop=faces&auto=compress,format&format=webp"
          alt="profile image"
        />
        <p class="text-lg">Eric Obeng</p>
      </div>
      <div class="blog-details">
        <p class="date">Jul 24, 2024</p>
        <p>4 min read</p>
      </div>
    </div>
    <div class="introduction content">
      <p class="title">Introduction</p>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
        similique exercitationem ab, perferendis cupiditate quas aliquam maiores
        doloremque error id reprehenderit vitae, magnam consequatur aspernatur
        eveniet incidunt tenetur, iste animi.
      </p>
    </div>
    <div class="content">
      <div class="content content-1">
        <h3 class="title">What is create-react-app (CRA)</h3>
        <p class="text">
          <span class="bold"
            >Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span
          >
          Alias earum maiores omnis soluta natus ut et in magni iusto. Incidunt
          ea tenetur atque, quo, rem dolorum quas vel praesentium labore
          quisquam eius soluta deleniti. Cumque facere, illo aliquam, a itaque
          animi distinctio quibusdam natus rerum odit vitae quos vero enim
          adipisci obcaecati sunt at eum aperiam, dolorem est libero assumenda.
        </p>
      </div>
    </div>
    <div class="content">
      <div class="content content-1">
        <h3 class="title">Why VITE.js?</h3>
        <p class="text">
          Alias earum maiores omnis soluta natus ut et in magni iusto. Incidunt
          ea tenetur atque, quo, rem dolorum quas vel praesentium labore
          quisquam eius soluta deleniti.
        </p>
      </div>
    </div>
    <div class="content">
      <div class="content content-1">
        <h3 class="title">Conclusion</h3>
        <p class="text">
          Alias earum maiores omnis soluta natus ut et in magni iusto. Incidunt
          ea tenetur atque, quo, rem dolorum quas vel praesentium labore
          quisquam eius soluta deleniti.
        </p>
      </div>
    </div>

    <div class="content">
      <div class="content reference">
        <h3 class="title">Reference</h3>
        <ul class="text references">
          <li>Vite</li>
          <li>esbuild</li>
          <li>Rollups</li>
          <li>Vite templates</li>
        </ul>
      </div>
    </div>
    <div class="footer">
      <a href="#" class="links btn">create-react-app</a>
      <a href="#" class="links btn">vite</a>
      <a href="#" class="links btn">Node.js</a>
      <a href="#" class="links btn">npm</a>
      <a href="#" class="links btn">rollup</a>
    </div>
  </div>
</main>
